<ion-view>
  <ion-content class="padding my-viewss">
    <div class="row responsive-sm">
      <div class="col email-col">
        <h1 class="text-center title-color">Login</h1>
        <div class="list list-inset">
          <label class="item item-input bg-t">
            <i class="icon ion-at placeholder-icon"></i>
            <input type="text" placeholder="Email" ng-model="user.email" class="ipt">
          </label>
        </div>
      </div>
      <div class="col pass-col">
        <div class="list list-inset">
          <label class="item item-input bg-t">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" placeholder="Contraseña" ng-model="user.password" ng-keydown="loginT($event, user)" class="ipt">
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-45">
        <button class="button button-block button-outline button-calm" ng-click="login(user)">
          Iniciar Sesión
        </button>
      </div>
      <div class="col col-10">
        <h1 class="padding-top">O</h1>
      </div>
      <div class="col col-45">
        <button class="button button-block button-outline button-dark" ng-click="goregister()">
          Registrarse
        </button>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col">
        <button class="button button-block button-outline button-light" ng-click="goHome()">Offline</button>
      </div>
    </div> -->
  </ion-content>
</ion-view>
