<ion-view>
	<ion-content class="padding">
	<div class="row">
		<div class="col">
			<div class="list card">
				<div class="item item-avatar">
					<img src="../img/adam.jpg">
					<h2>Jacob O'Connor</h2>
					<p>Científico</p>
				</div>
				<div class="item item-body">
					<h1 class="text-center">Video informativo acerca de la Biología</h1>
					<video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer" width="100%" height="315">
			   			<source src="../media/biologia.mp4" type="video/mp4" />
			  		</video>		
					<p class="text-center">
						La biología es la ciencia que estudia a los seres vivos y, más específicamente, su origen, su evolución y sus propiedades, nutrición, morfogénesis, reproducción, patogenia, etc. 
					</p>
				</div>
			</div>
		</div>
	</div>
	</ion-content>
</ion-view>