<ion-view view-title="Vídeo">
	<ion-content class="padding">
	<div class="row">
		<div class="col">
			<div class="list card">
				<div class="item item-avatar">
					<img src="../img/adam.jpg">
					<h2>Jacob O'Connor</h2>
					<p>Científico</p>
				</div>
				<div class="item item-body">
					<h1 class="text-center">Vídeo</h1>
					<div class="video-container">
					<iframe src="https://www.youtube.com/embed/kFOOf1yB_jM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>		
					<p class="text-center">
						La biología es la ciencia que estudia a los seres vivos y, más específicamente, su origen, su evolución y sus propiedades, nutrición, morfogénesis, reproducción, patogenia, etc. 
					</p>
				</div>
			</div>
		</div>
	</div>
	</ion-content>
</ion-view>