<ion-view view-title="Menú principal">
	<ion-content class="home-view padding">
  	<div class="row">
  		<div class="col">
  			<button class="button button-block button-calm" ng-click="DNA()">
  				ADN
  			</button>
  			<button class="button button-block button-calm" ng-click="Videoi()">
  				Vídeo e Información
  			</button>
        <button class="button button-block button-calm" ng-click="Tabla()">
          Tabla nutricional
        </button>
        <button class="button button-block button-calm" ng-click="info()">
          Infografía
        </button>
        <button class="button button-block button-calm" ng-click="juego()">
          Juego
        </button>
  		</div>
  	</div>
	</ion-content>
</ion-view>